.splash_logo {
    width: 40%;
    float: left;
    margin: 48% 0 0 30%;
}
.logo{
     width: 25%;
    float: left;
    margin: 3% 0 3% 36%;
}
.loginContent{
    float: left;
    width:100%;
    height: auto;
    border: 0;
    text-align: center;
}
#acceptButton{
     background: url('../images/login.png') no-repeat; 
 /*background-color: #3FCDD7;
     color: white;
    text-align:center;*/
     background-size: 100% 100%;
    /*font-family:calibri, serif;*/
    font-size:15px;
    margin-top: 3%;
   -webkit-box-shadow: 5px 9px 25px -4px #1F1E02;
    -moz-box-radius: 5px 9px 25px -4px #1F1E02;
    box-shadow: 5px 9px 25px -4px #1F1E02;
}
.button{
    width: 69%;
    height: 40px;
}
/*.button-img{
     width: 233px;
    height: 45px;
}*/
.option {
    float: left;
    width: 98%;
    height: 55px;
}
.feild {
    width: 68%;
    background: url('../images/login_line.png') no-repeat 0 100%;
    background-size: 100%;
    text-align: center;
    float: left;
    margin-left: 15%;
}
.login-icon {
    float: left;
    width: 12%;
    margin-left: 3%;
    margin-top: 2%;
}
.password-icon {
    float: left;
    width: 10%;
    margin-left: 3%;
    margin-bottom: 2%;
}
/*.login-icon-wp{
    float: left;
    width: 12%;
    height: 29px;
    background-image: url('../images/login.jpg');
    background-size: 100%;
    margin-left: 3%;
    margin-top: 2%;
}
.password-icon-wp {
    float: left;
    width: 11%;
    height: 36px;
    background-image: url('../images/password.jpg');
    background-size: 93%;
    margin-left: 3%;
}*/
.login_btnDiv {
    float: left;
    width: 98%;
    margin-top:4%;
    
}
.textbox{
    padding-left: 5px;
    width: 82%;
    overflow: hidden;
    border: 0;
    font-size: 16px;
   /* color: #F49829;*/
    background-color: #3C4043;
    padding-top: 5px;
}
.custom-icon
{
    float: left;
}
.error {
  float: left;
  width: 70%;
  text-align: center;
  color: red;
  height: 40px;
  margin-left: 14%;
}
#social{
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    text-align: center;
    width: 100%;
}
#fb_btn{
   background: url('../images/fb.png') no-repeat; 
   background-size: 65% 65%;
   width: 71px;
   height:  71px; 
   border:none;
   padding-left:3px;
   margin-left:25px;
}
#twitter_btn{
   background: url('../images/twitter.png') no-repeat; 
   background-size: 65% 65%;
   width: 71px;
   height:  71px; 
   border:none;
   margin-left:-15px;
   -webkit-box-shadow: 5px 9px 25px -4px #1F1E02;
    -moz-box-radius: 5px 9px 25px -4px #1F1E02;
    box-shadow: 5px 9px 25px -4px #1F1E02;
}
#google_btn{
   background: url('../images/google.png') no-repeat; 
   background-size: 65% 65%;
   width: 71px;
   height:  71px; 
   border:none;
   margin-left:-15px;
     
}
#microsoft_btn{
    background: url('../images/microsoft.png') no-repeat; 
    background-size: 65% 65%;
    width: 71px;
    height:  71px; 
    border:none;
    margin-left:-15px;
  
}
#signup_btn_for_login{
    background: url('../images/signup.png') no-repeat; 
    background-size: 100% 100%; 
    width: 69%;
    height: 40px; 
    -webkit-box-shadow: 5px 9px 25px -4px #1F1E02;
    -moz-box-radius: 5px 9px 25px -4px #1F1E02;
    box-shadow: 5px 9px 25px -4px #1F1E02;
    /*color: white;
    text-align:center;*/
}
.signup_btnDiv_for_login {
    float: left;
    width: 98%;
   /* margin-top: 3%;*/
    margin-top: 0%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #F49829;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #F49829;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #F49829;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #F49829;
}
a#trial_btn {
    float: left;
    width: 68%;
    margin-left: 16%;
    border-radius: 5px;
    color: #fff;
    background: #B1CB36;
    -webkit-box-shadow: 5px 9px 25px -4px #1F1E02;
    -moz-box-radius: 5px 9px 25px -4px #1F1E02;
    box-shadow: 5px 9px 25px -4px #1F1E02;
    font-weight: 700;
    font-family: Myriad Pro regular;
}
