.splash_logo{
    background: url('../images/logo.png') no-repeat;
    width: 55%;
    height: 165px;
    float: left;
    margin: 48% 0  0 30%;
    background-size: 70%;
}
.logo{
    background: url('../images/logo.png') no-repeat;
    width: 40%;
    height: 155px;
    float: left;
    margin: 15% 0  0 36%;
    background-size: 70%;
}
.logo-android {
  background: url('../images/logo.png') no-repeat;
  width: 40%;
  height: 125px;
  float: left;
  margin: 19% 0 0 30%;
  background-size: 70%;
}
.loginContent{
    float: left;
    width:100%;
    height: auto;
    border: 0;
    text-align: center;
}
#acceptButton{
     background: url('../images/loginbtn.png') no-repeat; 
     background-size: 100% 100%;
}
.button{
    width: 69%;
    height: 40px;
}
/*.button-img{
     width: 233px;
    height: 45px;
}*/
.option {
    float: left;
    width: 98%;
    height: 54px;
}
.feild {
    width: 68%;
    background: url('../images/login_line.png') no-repeat 0 100%;
    background-size: 100%;
    text-align: center;
    float: left;
    margin-left: 15%;
}
.login-icon {
    float: left;
    width: 12%;
    height: 29px;
    background: url('../images/login.jpg') no-repeat;
    background-size: 100%;
      margin-left: 3%;
    margin-top: 2%;
}
.password-icon {
    float: left;
    width: 11%;
    height: 36px;
    background: url('../images/password.jpg') no-repeat;
    background-size: 93%;
    margin-left: 3%;
}
.btnDiv {
    float: left;
    width: 98%;
}
.textbox{
    padding-left: 5px;
    width: 82%;
    overflow: hidden;
    border: 0;
    font-size: 17px;
    color: #6C7379;
   /* background-color: #3C4043;*/
    padding-top: 5px;
}
.custom-icon
{
    float: left;
}
.error {
  float: left;
  width: 100%;
  text-align: center;
  color: red;
  height: 14px;
}

#fb_btn{
   background: url('../images/fb.png') no-repeat; 
   background-size: 65% 65%;
    width: 71px;
    height:  71px; 
    border:none;
    padding-left:3px;
    margin-left:25px;
}
#twitter_btn{
   background: url('../images/twitter.png') no-repeat; 
   background-size: 65% 65%;
    width: 71px;
    height:  71px; 
    border:none;
    margin-left:-15px;
}
