.km-flat, .km-flat .km-navbar, .km-flat .km-detail, .km-flat .km-content{background-color: #3C4043; border-color:#4d4d4d; color: #6D747A;}

.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
.heading {
  text-align: center;
}
.timer{
    float: right; 
    margin-top: 2%;
}
