/*#modalview-password ul {
  width: 90%;
  margin: 6% 0 6% 6%;
  padding: 0;
  list-style-type: none;
  float: left;
}
#modalview-password ul label {
   float: left;
   padding: 0 3% 0 0;
}
#modalview-password ul input {
    float: left;
    width: 80%;
    line-height: 1px;
    padding-left: 3%;
    margin: 3% 0 6%;
    border-radius: 3%;
    color: black;
}*/

#modalview-password .content{
    float: left;
    width:100%;
    height: auto;
    border: 0;
    margin: 2%;
    text-align: center;
}
#modalview-password .button{
    width: 69%;
    height: 40px;
}
#modalview-password .option {
    float: left;
    width: 100%;
    height: 40px;
    margin: 3% 0 0% 0%;
}
/*.pwdbox{
    width: 82%;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 12px;
    color: #6C7379;
    background-color: #ffffff;
    padding: 5px 0 5px 5px;
}*/
#modalview-password .btnDiv {
    float: left;
    margin-left: 20%;
    margin-top: 2%;
    width: 75%;
}
#modalview-password .btnDiv a{
    float: left;
    width: 35%;
    height: 30px;
    color: #ffffff;
    margin: 2%;
}
#modalview-password .password-icon{
    height: 30px;
}
/*#errMsg{
    margin: 5% 0 0;
}*/
.k-group{
background-color: #3C4043;
}
#profileImage{
    margin-left: 0%;
    margin-top: 0;
    width: 100%;
    height: 109px;
    border-radius: 94px;
    border: none;
}
#profileDiv{
    margin-left: 32%;
    margin-top: 5%;
    width: 38%;
    height: 120px;
    border: 6.5px solid #09d5ee;
    border-radius: 94px;
}
.details-content {
    margin: 5%;
    width: 90%;
    float: left;
    color: #fff;
}
.details {
    float: left;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #6C7379;
    margin: 5% 0;
    text-align: center;
}
.details-content > .details > input, 
.details-content > .subContent > form > .details >  input {
    width: 45%;
    color: #fff;
    margin-top: -2%;
    font-size: 15px;
}
#old-password::-webkit-input-placeholder,
#new-password::-webkit-input-placeholder {
    color: #fff;
}
#old-password:-moz-placeholder,
#new-password:-moz-placeholder {
    color: #fff;
}
#old-password::-moz-placeholder,
#new-password::-moz-placeholder {
    color: #fff;
}
#old-password:-ms-input-placeholder,
#new-password:-ms-input-placeholder {
    color: #fff;
}
#popoverBtn{
    float: left;
    margin-top: 5%;
    width: 38%;
    border: 6.5px solid #09d5ee;
    border-radius: 94px;
    height: 120px;
    padding: 0;
    margin-left: 32%;
    background: transparent;
}
a#nameEdit, a#addressEdit {
    background: transparent;
    margin-top: -2%;
}
.subContent {
    float: left;
}
.subContent h3 {
    text-align: center;
    margin: 2%;
}
#errMsg{
    height: 30px;
}
a#updateUser {
    margin-left: 16%;
    width: 70%;
    background: url('../images/update.png') no-repeat transparent;
    background-size: 100%;
    height: 100px;
}
label.password-label {
    margin-left: 12%;
}
/*.details-content > .details > label {
    float: left;
}*/