<div data-role="view" id="login" data-title="Login" data-before-show="changeUI">
    <form action="#" id="loginForm" onsubmit="return false;">
        <div id="logo" class="logo"></div>
         <div id="errMsg" class="error"></div>
       <div class="loginContent">
            <div class="option">
                <div class="feild">
                    <div  id="login_icon" class="login-icon"></div>
                    <input type="text" name="userName" id="userName" class="textbox" placeholder="Login" required  data-required-msg="Display Username"  onfocus="removeLoginMessage()"\>
                    <!--<div id="errUserName" class="error"> </div>-->
               </div>
                 <span class="k-invalid-msg" data-for="userName"></span>
           </div>
             <div class="option">
                <div class="feild">
                     <div id="pwd_icon" class="password-icon"></div>
                    <input type="password" name="password"  id="password" class="textbox" placeholder="Password" required data-required-msg="Enter Password"  onfocus="removeLoginMessage()"\>
                    <!-- <div id="errPassword" class="error"> </div>-->
                </div>
                  <span class="k-invalid-msg" data-for="password"></span>
           </div>
            <div class="login_btnDiv">
                <a data-role="button" id="acceptButton" onclick="return login()" class="button" type="button">
                   <!-- <img src="images/loginbtn.png" class="button-img">-->
                </a>
           </div> 
          
           <!--<div style="margin-left:-110px;  color: #9C9C9C;">
               continue with us
           </div>-->
           
           <div class="option" style="color:#999999;font-size: 15px;margin-left:0px;margin-top:10px;height:45px;padding-top:0px">
              <span> continue with us </span>
           </div>
         
               <div id="social">
                   <span id="fb_icon_height"><a data-role="button"  id="fb_btn" onclick="return faceBookLogin()"></a></span>
                   <!--<span id="tw_icon_height"><a data-role="button"  id="twitter_btn" onclick="return logInTwitter()"></a></span>-->
                   <span id="google_icon_height"><a data-role="button" id="google_btn" onclick="return logInGoogle()"></a></span>
                   <span id="microsoft_icon_height"><a data-role="button" id="microsoft_btn" onclick="return logInMicrosoft()"></a></span>
                </div>
            <div class="signup_btnDiv_for_login">
                 <a data-role="button" id="signup_btn_for_login" onclick="sign_up()"></a>
            </div>
        </div>
        
         
    </form>
   <!--<div class="content">
		<div class="action-area ch40">
			<button class="button dw" id="startStopMonitor">Start Monitor</button>
			<button class="button" id="startStopTrackFeatureA">Start Time Tracking</button>
			<button class="button" id="trackFeatureB">Track Feature Use</button>
			<button class="button" id="trackException">Track Exception</button>
			<button class="button" id="getStatus">Get Monitor Status</button>
		</div>
		<div id="result-area" class="result-area ch60">
			<div id="results" class="results ch100">
				<ol id="console" class="desc"></ol>
				<div id="analytics-error">
                    You need to provide a valid product key for Telerik Analytics by Telerik.
					<br />
					For more information, visit the <a href="http://www.telerik.com/analytics">Telerik Analytics</a> web site.
				</div>
			</div>
			<div class="separator"></div>
		</div>
	</div>-->
</div>