<div data-role="view" id="login" data-title="Login" data-before-show="changeUI">
    <form action="#" id="loginForm" onsubmit="return false;">
        <div id="logo" class="logo"></div>
         <div id="errMsg" class="error"></div>
       <div class="loginContent">
            <div class="option">
                <div class="feild">
                    <div class="login-icon"></div>
                    <input type="text" name="userName" id="userName" class="textbox" placeholder="Login" required  data-required-msg="Enter Username"  onfocus="removeMessage()"\>
                    <!--<div id="errUserName" class="error"> </div>-->
               </div>
                 <span class="k-invalid-msg" data-for="userName"></span>
           </div>
             <div class="option">
                <div class="feild">
                     <div class="password-icon"></div>
                    <input type="password" name="password"  id="password" class="textbox" placeholder="Password" required data-required-msg="Enter Password"  onfocus="removeMessage()"\>
                    <!-- <div id="errPassword" class="error"> </div>-->
                </div>
                  <span class="k-invalid-msg" data-for="password"></span>
           </div>
            <div class="btnDiv">
                <a data-role="button" id="acceptButton" onclick="return login()" class="button">
                   <!-- <img src="images/loginbtn.png" class="button-img">-->
                </a>
           </div> 
           
           <div style="padding-top:5px;">
               <span>continue with us</span>
           </div>
         
               <div id="social">
                   <span id="fb_icon_height"><a data-role="button"  id="fb_btn"  onclick="return faceBookLogin()" ></a></span>
                   <span id="tw_icon_height"><a data-role="button" onclick="return logInTwitter()" id="twitter_btn"></a></span>
                   <span id="google_icon_height"><a data-role="button" onclick="return logInGoogle()" id="google_btn"></a></span>
                   <span id="microsoft_icon_height"><a data-role="button" onclick="return logInMicrosoft()" id="microsoft_btn"></a></span>
                </div>
        </div>
         
    </form>
      <link href="../styles/login.css" rel="stylesheet" />
    <script src="../scripts/login.js"></script>
</div>
 
