<div data-role="view" id="login" data-title="Login" data-layout="main" >
    
    <form action="#">
       
          
                <label>Type text  </label>
                    <input type="text" value="Text" id="userName"/>
              
         
           
                <label>
                Type password </label>
                <input type="password" value="password" id="password"/>
               
                <button id="acceptButton" type="submit" onClick="login()">Login</button>
                
               </form>
</div>
