<div data-role="view" id="showquizpage" data-title="Quiz" data-layout="main">
   <span id="ms_timer1" data-align="right"></span>
    <div id="results"></div>
    <br> 
    <ul><li><a  onclick="next()" data-role="button" style="background-color: green; color: white;" >Next</a></li></ul>
<script type="text/x-kendo-template" id="temp">
    <div>
        <h3>#= question #</h3>
        <ul data-role="listview"  class="km-widget km-listview km-list">
            # for(var i = 0, l = options.length; i < l; i++){#
            <li class="">
                <label class="km-listview-label">
                    <input class="option km-widget km-icon km-check" type="radio" id="option_#:i#" name="options" onclick="activitiesChanged(this.id)" value="#=options[i]#">
                    #= options[i] #
                </label>
            </li>
           #}#
        </ul>
    </div>
  
</script>
<script type="text/javascript"  src="scripts/showquiz.js"></script>
   
</div>




 


