<div data-role="view" id="showquizpage" data-title="Quiz" data-layout="main">
   <div class="timer-div">
       <span id="ms_timer" data-align="right"></span>
       seconds
    </div>
    <div id="results"></div>
    <div  class="btnDiv">
        <a id="nextBtn" class="button" onclick="next()" data-role="button"></a>
    </div>
    <div class="yahoo-img"></div>
<script type="text/x-kendo-template" id="temp">
    <div>
        <h3 class="question">#= question #</h3>
        <ul data-role="listview"  class="km-widget km-listview km-list">
            # for(var i = 0, l = options.length; i < l; i++){#
            <li id="option-list">
                <label class="km-listview-label">
                    <input class="" type="radio" id="option_#:i#" name="options" onclick="activitiesChanged(this.id)" value="#=options[i]#">
                    #= options[i] #
                </label>
            </li>
           #}#
        </ul>
    </div>
</script>
<script type="text/javascript"  src="scripts/showquiz.js"></script>
   
</div>




 


