<div data-role="view" data-title="QuizInfo" data-layout="main" data-model="APP.models.contacts">
    <h3>Well come to quizApp application if you want to win the game than you have to give all the answer within one minits </h3>
  <ul data-role="listview" data-style="inset" data-template="QuizInfoTemplate" data-bind="source: ds"></ul>
</div>

<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<script type="text/x-kendo-template" id="QuizInfoTemplate">

 <a  href="views/quiz.html" data-role="button" style="background-color: green; color: white;">start</a>
</script>
