<!--<div data-role="view" data-title="QuizInfo"  data-model="APP.models.contacts">
    <div id="" class="quiz_info_logo"></div>
     <div class="start_btnDiv">
          <a id="start_btn" href="views/quiz.html" data-role="button" onclick="restart()"></a>
      </div>
   
    <link href="styles/quiz_info.css" rel="stylesheet" />
</div>
this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<!--<script type="text/x-kendo-template" id="QuizInfoTemplate">   
    <a id="startQuiz" href="views/quiz.html" data-role="button" onclick="restart()"></a>
</script>-->
 
<div data-role="view" data-title="QuizInfo"  data-model="APP.models.contacts">
    <div id="" class="quiz_info_logo"></div>
    <div class="img-div">
    </div>
    dfdfdf
     <div class="start_btnDiv">
          <a id="start_btn" href="views/quiz.html" data-role="button" onclick="restart()"></a>
     </div>
    <link href="styles/quiz_info.css" rel="stylesheet" />
</div>