<div data-role="view" id="register" data-title="register"  data-before-show="register">
     
    <form action="#" id="register" onsubmit="return false;">
          <div id="logo" class="registration_logo"></div>
         <div id="errMsg" class="error" style="height: 20px;"></div>
       <div class="registrationContent">
            <div class="option">
                
                <div class="feild">
                    
                    <input type="text" name="name"  id="name"  class="textbox" placeholder="Enter Name" required  data-required-msg="Enter Name"  onfocus="removeMessage()"\>
                  
                    <span class="k-invalid-msg" data-for="name"></span>
               </div>
           </div>
        
        <div class="option">
             
                <div class="feild">
                    <input type="email" name="email" id="email" class="textbox" placeholder="Enter Email" required  data-required-msg="Enter Email" data-email-msg="Email format is not valid"  onfocus="removeMessage()"\>
                  
                    <span class="k-invalid-msg" data-for="email"></span>
               </div>
       </div>
        
             <div class="option">
                 
                <div class="feild">
                    <input type="password" name="password"  id="password" class="textbox" required data-required-msg="Enter Password"  placeholder="Enter Password" onfocus="removeMessage()"\>
                   
                    <span class="k-invalid-msg" data-for="password"></span>
                    <!--<label id="geoLocation"></label>-->
                </div>
                
           </div>
           
           
        <div class="feild"> <label id="geoLocation" style="text-align:left;"></label></div>
           
          
            <div class="signup_btnDiv">
                 <a data-role="button" href="views/login.html" id="signup_btn" onclick="return register()" ></a>
        </div>
         <div style="padding-top:5px;">
               <span>continue with us</span>
           </div>
         
               <div id="social">
                   <span id="fb_icon_height"><a data-role="button"  id="fb_btn" href="#" ></a></span>
                    <span id="tw_icon_height"><a data-role="button" href="#"  id="twitter_btn"></a></span>
                </div>
              <div class="login_btnDiv">
                <a data-role="button"  id="login_btn" href="views/login.html"></a>
                 
         </div>
         
       </div>  
      </form> 
           
<link href="styles/registration.css" rel="stylesheet" />
<script src="scripts/registration.js"></script>
 

</div>
