<div data-role="view" id="login" data-title="Login" data-layout="main" data-before-show="isLoggedIn">
    <form action="#" id="loginForm" onsubmit="return false;">
         <div id="errMsg" class="error" style="height: 20px;"></div>
       <div class="loginContent">
            <div class="option">
                <label class="label">Name  </label></th>
                <div class="feild">
                    <input type="text" name="name" id="name" placeholder="Enter Name" required  data-required-msg="Enter Name"  onfocus="removeMessage()"\>
                    <!--<div id="errUserName" class="error"> </div>-->
                    <span class="k-invalid-msg" data-for="name"></span>
               </div>
           </div>
        
        <div class="option">
                <label class="label">Email  </label></th>
                <div class="feild">
                    <input type="email" name="email" id="email" placeholder="Enter Email" required  data-required-msg="Enter Email" data-email-msg="Email format is not valid"  onfocus="removeMessage()"\>
                    <!--<div id="errUserName" class="error"> </div>-->
                    <span class="k-invalid-msg" data-for="email"></span>
               </div>
           </div>
        
             <div class="option">
                 <label class="label">Password </label></th>
                <div class="feild">
                    <input type="password" name="password"  id="password" placeholder="Enter Password" required data-required-msg="Enter Password"  onfocus="removeMessage()"\>
                    <!-- <div id="errPassword" class="error"> </div>-->
                    <span class="k-invalid-msg" data-for="password"></span>
                </div>
           </div>
            <div class="btnDiv">
                <button id="acceptButton" type="submit" onClick="return register()"  class="k-button button" >Registration</button>
           <div class="feilds">    
        </div>
    </form>
<script src="scripts/registration.js"></script>
</div>