<div data-role="view" id="register" data-title="register"  data-before-show="register">
       <div id="logo" class="logo"></div>
    <form action="#" id="register" onsubmit="return false;">
         <div id="errMsg" class="error" style="height: 20px;"></div>
       <div class="registrationContent">
            <div class="option">
              
                <div class="feild">
                    <input type="text" name="name" id="name" placeholder="Enter Name" class="textbox" required  data-required-msg="Enter Name"  onfocus="removeMessage()"\>
                  
                    <span class="k-invalid-msg" data-for="name"></span>
               </div>
           </div>
        
        <div class="option">
             
                <div class="feild">
                    <input type="email" name="email" id="email" class="textbox" placeholder="Enter Email" required  data-required-msg="Enter Email" data-email-msg="Email format is not valid"  onfocus="removeMessage()"\>
                  
                    <span class="k-invalid-msg" data-for="email"></span>
               </div>
           </div>
        
             <div class="option">
                 
                <div class="feild">
                    <input type="password" name="password"  id="password" class="textbox" placeholder="Enter Password" required data-required-msg="Enter Password"  onfocus="removeMessage()"\>
                   
                    <span class="k-invalid-msg" data-for="password"></span>
                </div>
           </div>
            <div class="signup_btnDiv">
                <a data-role="button" id="signup_btn" onclick="return register()" ></a>
        </div>
         <div>
               <span>continue with us</span>
           </div>
               <div >
                   <span><a data-role="button"  id="fb_btn"></a></span>
                    <span><a data-role="button"  id="twitter_btn"></a></span>
        </div>
              <div class="login_btnDiv">
                <a data-role="button"  id="login_btn"></a>
        </div>
    </form> 
           
   <link href="styles/registration.css" rel="stylesheet" />
<script src="scripts/registration.js"></script>
</div>