<div data-role="view" data-title="loginInfo" data-before-show="isLoggedIn" >
    <div class="splash_logo"></div>
    <script src="scripts/login.js"></script>
</div>


  
<!-- 
 <div id="splashView" data-role="view" data-layout="main" data-model="APP.models.start" data-before-show="isLoggedIn" data-title="loginInfo" >
       <img src="images/logo.png">
 </div>

<script>
        var app = new kendo.mobile.Application(document.body, { splash: "splashView",  initial: "login" } );
        //this would be great if a splash screen could be specified
    </script>  -->