<div id="home" data-role="view" data-title="Home" data-layout="main" data-before-show="changeHomeUIBefore" data-after-show="changeHomeUI" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1) !important; transform: translate3d(0px, 0px, 0px) scale(1) !important;" >
     <div id="home_logo" class="quiz_info_logo"></div>
    <img id="imgDiv" src="">
   <!-- <div id="imgDiv" class="img-div"></div>-->
       <div class="span12">
           
            <p style="font-family: Myriad Pro regular;">
               Are you a quick thinker with a vast knowledge of general information? Put your intelligence and quick reflexes to the test with Winitinminute! See how quickly and accurately you can answer ten questions that range across a variety of topics and disciplines. With Winitinminute, you accumulate points and learn new information with the chance to win weekly prizes. 
           
            <p style="font-family: Myriad Pro regular;"> Winitinminute: I'm a winner, everyone is a winner.</p>
       </div>
     <div class="start_btnDiv">
          <a id="start_btn" data-role="button"  data-click="startQuiz"></a>
     </div>
</div>

