<div id="scoreCard" data-role="view" data-title="Score Card" data-layout="main">
    <canvas id="myCanvas" style="border:1px solid #c3c3c3;">
        Your browser does not support the canvas element.
    </canvas>

    <script type="text/javascript">
        var c = document.getElementById("myCanvas");
        var cxt = c.getContext("2d");
       
        var img = new Image();
         alert("img  "+JSON.stringify(img));
        img.src = "images/logo.png";
        img.onload = function () {
            cxt.drawImage(img, 0, 0);
        };
        c.toDataURL();
        alert(c.toDataURL());
    </script>
</div>
